<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >
	<listeners>
		<listener class-name="example1.MavenFrameworkBuild.Listener" />
	</listeners>
	
	<test name="LoginFunctionality">
		<classes>
			<class name="example1.MavenFrameworkBuild.LoginTest" />
		</classes>
	</test>

	<test name="LoginNegativeText">
		<classes>
			<class name="example1.MavenFrameworkBuild.LoginTextNegative" />
		</classes>
	</test>

	<test name="CheckoutFunctionality">
		<classes>
			<class
				name="example1.MavenFrameworkBuild.AddItemsToCartCheckOut" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
